pug-templates/footer.pug
footer.footer
    .footer-main
        .footer-menu
            .footer-menu__column
                .footer-menu__column-inner
                    .footer-menu__title
                        span.footer-menu__title__text Premium products
                        i.icon-angle-right.mobile-accordion-icon

                    ul.footer-nav
                        li.footer-nav__item
                            a(href='#').footer-nav__link Dragon’s Cut
                        li.footer-nav__item
                            a(href='#').footer-nav__link Harald Schatz Wodka
                        li.footer-nav__item
                            a(href='#').footer-nav__link Sloe Gin
                        li.footer-nav__item
                            a(href='#').footer-nav__link Muscatel Distilled Gin
            .footer-menu__column
                .footer-menu__column-inner
                    .footer-menu__title
                        span.footer-menu__title__text KINDS
                        i.icon-angle-right.mobile-accordion-icon

                    ul.footer-nav
                        li.footer-nav__item
                            a(href='#').footer-nav__link London Dry Gin
                        li.footer-nav__item
                            a(href='#').footer-nav__link Plymouth Gin
                        li.footer-nav__item
                            a(href='#').footer-nav__link Yellow Gin
                        li.footer-nav__item
                            a(href='#').footer-nav__link Jonge
                        li.footer-nav__item
                            a(href='#').footer-nav__link Oude
                        li.footer-nav__item
                            a(href='#').footer-nav__link Zeer Oude (ZO)
            .footer-menu__column
                .footer-menu__column-inner
                    .footer-menu__title
                        span.footer-menu__title__text Company
                        i.icon-angle-right.mobile-accordion-icon

                    ul.footer-nav
                        li.footer-nav__item
                            a(href='#').footer-nav__link About
                        li.footer-nav__item
                            a(href='#').footer-nav__link Contact Us
                        li.footer-nav__item
                            a(href='#').footer-nav__link Privacy Policy

                    .payment-information
                        .footer-menu__title
                            span.footer-menu__title__text Payment
                            i.icon-angle-right.mobile-accordion-icon
                        .payment-methods
                            .payment-methods__item
                                a(href='#').payment-methods__link
                                    img(src='img/icons/mastercard.png').payment-methods__logo
                            .payment-methods__item
                                a(href='#').payment-methods__link
                                    img(src='img/icons/visa.png').payment-methods__logo
                            .payment-methods__item
                                a(href='#').payment-methods__link
                                    img(src='img/icons/paypal.png').payment-methods__logo

            .footer-menu__column
                .footer-menu__column-inner
                    .footer-menu__title
                        span.footer-menu__title__text Social
                        i.icon-angle-right.mobile-accordion-icon

                    ul.footer-nav
                        li.footer-nav__item
                            a(href='#').footer-nav__link.icon_link
                                i.footer-nav__link__icon.icon-fb
                                span.footer-nav__link__text Facebook
                        li.footer-nav__item
                            a(href='#').footer-nav__link.icon_link
                                i.footer-nav__link__icon.icon-tw
                                span.footer-nav__link__text Twitter
                        li.footer-nav__item
                            a(href='#').footer-nav__link.icon_link
                                i.footer-nav__link__icon.icon-instagram
                                span.footer-nav__link__text Instagram

                    .delivery-information
                        .footer-menu__title
                            span.footer-menu__title__text delivery
                            i.icon-angle-right.mobile-accordion-icon
                        .delivery-methods
                            .delivery-methods__item
                                a(href='#').delivery-methods__link
                                    img(src='img/icons/delivery_i1.png').delivery-methods__logo
                            .delivery-methods__item
                                a(href='#').payment-methods__link
                                    img(src='img/icons/delivery_i2.png').delivery-methods__logo



        .footer__privacy-policy
            .footer-copyright
                p.footer-copyright__text 2018 Cubic Dragon. All right reserved
            .footer-company
                img(src='img/company_logo.png').footer-company__logo
                span.footer-company__text developed by

    .rm.review-modal#new-review
        .rm-panel#new-review-form
            .rm-navbar
                .rm-navbar__title Write a review
                a.rm-btn_close.rm-close
            .rm-content
                form.review-form
                    .review-form-content
                        .rating
                            p.rating__title Rate it from 1 to 5

                            .rating__fields
                                .rating-field
                                    input(type='radio', name='reviewRating', id='rate1' value="1")
                                    label(for='rate1').rating-label
                                .rating-field
                                    input(type='radio', name='reviewRating', id='rate2' value="2")
                                    label(for='rate2').rating-label
                                .rating-field
                                    input(type='radio', name='reviewRating', id='rate3' value="3")
                                    label(for='rate3').rating-label
                                .rating-field
                                    input(type='radio', name='reviewRating', id='rate4' value="4")
                                    label(for='rate4').rating-label
                                .rating-field
                                    input(type='radio', name='reviewRating', id='rate5' value="5")
                                    label(for='rate5').rating-label

                        .field-wrapper
                            input(type='text', placeholder="Name", name='authorName').field-input
                        .field-wrapper
                            input(type='text', placeholder="E-mail", name='authorEmail').field-input
                        .field-wrapper.field-wrapper--flex_height
                            textarea(name='reviewText' placeholder="Write your review").field-input.field-input--flex_height
                        .field-wrapper
                            button.button.add-review
                                span.button__text.add-review__link-text Write a Review
                                    i.button__icon.add-review__link-icon.icon-arrow-right


        .rm-panel#success-msg
            .rm-content
                .success-icon
                    img(src='img/icons/ckeck-icon-large.png', alt='success')
                p.success-title Your review was successfully sent
                .back-to-reviews
                    a(href='#').button.to-reviews__link.rm-close
                        span.button__text.to-reviews__link-text Back to Reviews
                            i.button__icon.to-reviews__link-icon.icon-arrow-right

footer.html

<footer class="footer">
  <div class="footer-main">
    <div class="footer-menu">
      <div class="footer-menu__column">
        <div class="footer-menu__column-inner">
          <div class="footer-menu__title"><span class="footer-menu__title__text">Premium products</span><i class="icon-angle-right mobile-accordion-icon"></i></div>
          <ul class="footer-nav">
            <li class="footer-nav__item"><a class="footer-nav__link" href="#">Dragon’s Cut</a></li>
            <li class="footer-nav__item"><a class="footer-nav__link" href="#">Harald Schatz Wodka</a></li>
            <li class="footer-nav__item"><a class="footer-nav__link" href="#">Sloe Gin</a></li>
            <li class="footer-nav__item"><a class="footer-nav__link" href="#">Muscatel Distilled Gin</a></li>
          </ul>
        </div>
      </div>
      <div class="footer-menu__column">
        <div class="footer-menu__column-inner">
          <div class="footer-menu__title"><span class="footer-menu__title__text">KINDS</span><i class="icon-angle-right mobile-accordion-icon"></i></div>
          <ul class="footer-nav">
            <li class="footer-nav__item"><a class="footer-nav__link" href="#">London Dry Gin</a></li>
            <li class="footer-nav__item"><a class="footer-nav__link" href="#">Plymouth Gin</a></li>
            <li class="footer-nav__item"><a class="footer-nav__link" href="#">Yellow Gin</a></li>
            <li class="footer-nav__item"><a class="footer-nav__link" href="#">Jonge</a></li>
            <li class="footer-nav__item"><a class="footer-nav__link" href="#">Oude</a></li>
            <li class="footer-nav__item"><a class="footer-nav__link" href="#">Zeer Oude (ZO)</a></li>
          </ul>
        </div>
      </div>
      <div class="footer-menu__column">
        <div class="footer-menu__column-inner">
          <div class="footer-menu__title"><span class="footer-menu__title__text">Company</span><i class="icon-angle-right mobile-accordion-icon"></i></div>
          <ul class="footer-nav">
            <li class="footer-nav__item"><a class="footer-nav__link" href="#">About</a></li>
            <li class="footer-nav__item"><a class="footer-nav__link" href="#">Contact Us</a></li>
            <li class="footer-nav__item"><a class="footer-nav__link" href="#">Privacy Policy</a></li>
          </ul>
          <div class="payment-information">
            <div class="footer-menu__title"><span class="footer-menu__title__text">Payment</span><i class="icon-angle-right mobile-accordion-icon"></i></div>
            <div class="payment-methods">
              <div class="payment-methods__item"><a class="payment-methods__link" href="#"><img class="payment-methods__logo" src="img/icons/mastercard.png"/></a></div>
              <div class="payment-methods__item"><a class="payment-methods__link" href="#"><img class="payment-methods__logo" src="img/icons/visa.png"/></a></div>
              <div class="payment-methods__item"><a class="payment-methods__link" href="#"><img class="payment-methods__logo" src="img/icons/paypal.png"/></a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-menu__column">
        <div class="footer-menu__column-inner">
          <div class="footer-menu__title"><span class="footer-menu__title__text">Social</span><i class="icon-angle-right mobile-accordion-icon"></i></div>
          <ul class="footer-nav">
            <li class="footer-nav__item"><a class="footer-nav__link icon_link" href="#"><i class="footer-nav__link__icon icon-fb"></i><span class="footer-nav__link__text">Facebook</span></a></li>
            <li class="footer-nav__item"><a class="footer-nav__link icon_link" href="#"><i class="footer-nav__link__icon icon-tw"></i><span class="footer-nav__link__text">Twitter</span></a></li>
            <li class="footer-nav__item"><a class="footer-nav__link icon_link" href="#"><i class="footer-nav__link__icon icon-instagram"></i><span class="footer-nav__link__text">Instagram</span></a></li>
          </ul>
          <div class="delivery-information">
            <div class="footer-menu__title"><span class="footer-menu__title__text">delivery</span><i class="icon-angle-right mobile-accordion-icon"></i></div>
            <div class="delivery-methods">
              <div class="delivery-methods__item"><a class="delivery-methods__link" href="#"><img class="delivery-methods__logo" src="img/icons/delivery_i1.png"/></a></div>
              <div class="delivery-methods__item"><a class="payment-methods__link" href="#"><img class="delivery-methods__logo" src="img/icons/delivery_i2.png"/></a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer__privacy-policy">
      <div class="footer-copyright">
        <p class="footer-copyright__text">2018 Cubic Dragon. All right reserved</p>
      </div>
      <div class="footer-company"><img class="footer-company__logo" src="img/company_logo.png"/><span class="footer-company__text">developed by</span></div>
    </div>
  </div>
  <div class="rm review-modal" id="new-review">
    <div class="rm-panel" id="new-review-form">
      <div class="rm-navbar">
        <div class="rm-navbar__title">Write a review</div><a class="rm-btn_close rm-close"></a>
      </div>
      <div class="rm-content">
        <form class="review-form">
          <div class="review-form-content">
            <div class="rating">
              <p class="rating__title">Rate it from 1 to 5</p>
              <div class="rating__fields">
                <div class="rating-field">
                  <input type="radio" name="reviewRating" id="rate1" value="1"/>
                  <label class="rating-label" for="rate1"></label>
                </div>
                <div class="rating-field">
                  <input type="radio" name="reviewRating" id="rate2" value="2"/>
                  <label class="rating-label" for="rate2"></label>
                </div>
                <div class="rating-field">
                  <input type="radio" name="reviewRating" id="rate3" value="3"/>
                  <label class="rating-label" for="rate3"></label>
                </div>
                <div class="rating-field">
                  <input type="radio" name="reviewRating" id="rate4" value="4"/>
                  <label class="rating-label" for="rate4"></label>
                </div>
                <div class="rating-field">
                  <input type="radio" name="reviewRating" id="rate5" value="5"/>
                  <label class="rating-label" for="rate5"></label>
                </div>
              </div>
            </div>
            <div class="field-wrapper">
              <input class="field-input" type="text" placeholder="Name" name="authorName"/>
            </div>
            <div class="field-wrapper">
              <input class="field-input" type="text" placeholder="E-mail" name="authorEmail"/>
            </div>
            <div class="field-wrapper field-wrapper--flex_height">
              <textarea class="field-input field-input--flex_height" name="reviewText" placeholder="Write your review"></textarea>
            </div>
            <div class="field-wrapper">
              <button class="button add-review"><span class="button__text add-review__link-text">Write a Review<i class="button__icon add-review__link-icon icon-arrow-right"></i></span></button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="rm-panel" id="success-msg">
      <div class="rm-content">
        <div class="success-icon"><img src="img/icons/ckeck-icon-large.png" alt="success"/></div>
        <p class="success-title">Your review was successfully sent</p>
        <div class="back-to-reviews"><a class="button to-reviews__link rm-close" href="#"><span class="button__text to-reviews__link-text">Back to Reviews<i class="button__icon to-reviews__link-icon icon-arrow-right"></i></span></a></div>
      </div>
    </div>
  </div>
</footer>
