header.html

<header class="header">
  <div class="header-main">
    <div class="header-logo"><a class="header-logo__link" href="#"><img class="header-logo__img" src="img/logo.png" alt="Cubic Dragon"/><img class="header-logo__img header-logo__img--mobile" src="img/logo-mobile.png" alt="Cubic Dragon"/></a></div>
    <div class="header-nav company-nav">
      <ul class="nav">
        <li class="nav__item"><a class="nav__link" href="/"><span class="nav__link__text">Home</span></a></li>
        <li class="nav__item"><a class="nav__link" href="/"><span class="nav__link__text">Products</span></a></li>
        <li class="nav__item"><a class="nav__link" href="#"><span class="nav__link__text">About</span></a></li>
        <li class="nav__item"><a class="nav__link" href="#"><span class="nav__link__text">Contact us</span></a></li>
      </ul>
    </div>
    <div class="mobile-row">
      <div class="mobile-row__inner">
        <div class="hamburger-box"><a class="hamburger-button" href="#mmenu"><i class="hamburger-icon"></i></a></div>
        <div class="header-search">
          <form class="search-form">
            <div class="search-form__content">
              <button class="search-form__button icon-search"></button>
              <input class="search-form__input" type="text" placeholder="Search"/>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="header-languages">
      <ul class="nav">
        <li class="nav__item nav__item--lang"><a class="nav__link active-language" href="/"><span class="nav__link__text">EN</span></a></li>
        <li class="nav__item nav__item--lang"><a class="nav__link" href="#"><span class="nav__link__text">DE</span></a></li>
        <li class="nav__item nav__item--lang"><a class="nav__link" href="#"><span class="nav__link__text">ZH</span></a></li>
      </ul>
    </div>
    <div class="header-nav header_nav_icons">
      <ul class="nav">
        <li class="nav__item"><a class="nav__link" href="/"><span class="nav__link__icon icon-heart"></span><span class="nav__link__text">Wishlist</span></a></li>
        <li class="nav__item"><a class="nav__link" href="#"><span class="nav__link__icon icon-person"></span><span class="nav__link__text">Account</span></a></li>
        <li class="nav__item"><a class="nav__link" href="#"><span class="nav__link__icon icon-cart"><span class="products-count">999</span></span><span class="nav__link__text">Cart</span></a></li>
      </ul>
    </div>
    <div class="mobile-menu" id="mmenu">
      <ul class="mobile-nav" id="panel-menu">
        <li><span>Company</span>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Products</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact us</a></li>
          </ul>
        </li>
        <li><span>Categories</span>
          <ul>
            <li><a href="#">Muscatel Distilled Gin</a></li>
            <li><a href="#">Dragon's cut</a></li>
            <li><a href="#">Sloe Gin</a></li>
            <li><a href="#">Harald Schatz Wodka</a></li>
          </ul>
        </li>
        <li class="languages-links"><a href="#">ENGLISH</a></li>
        <li><a href="#">GERMAN</a></li>
        <li><a href="#">CHINESE</a></li>
      </ul>
    </div>
  </div>
  <div class="header-categories">
    <ul class="categories-list">
      <li class="categories-list__item"><a class="categories-list__link" href="/">MUSCATEL DISTILLED GIN</a></li>
      <li class="categories-list__item"><a class="categories-list__link" href="#">DRAGON'S CUT</a></li>
      <li class="categories-list__item"><a class="categories-list__link" href="#">SLOE GIN</a></li>
      <li class="categories-list__item"><a class="categories-list__link" href="#">HARALD SCHATZ WODKA</a></li>
    </ul>
  </div>
</header>

pug-templates/header.pug
header.header
    .header-main
        .header-logo
            a(href='#').header-logo__link
                img(src='img/logo.png', alt='Cubic Dragon').header-logo__img
                img(src='img/logo-mobile.png', alt='Cubic Dragon').header-logo__img.header-logo__img--mobile

        .header-nav.company-nav
            ul.nav
                li.nav__item
                    a(href='/').nav__link
                        span.nav__link__text Home
                li.nav__item
                    a(href='/').nav__link
                        span.nav__link__text Products
                li.nav__item
                    a(href='#').nav__link
                        span.nav__link__text About
                li.nav__item
                    a(href='#').nav__link
                        span.nav__link__text Contact us

        .mobile-row
            .mobile-row__inner
                .hamburger-box
                    a(href='#mmenu').hamburger-button
                        i.hamburger-icon

                .header-search
                    form.search-form
                        .search-form__content
                            button.search-form__button.icon-search
                            input(type='text', placeholder='Search').search-form__input

        .header-languages
            ul.nav
                li.nav__item.nav__item--lang
                    a(href='/').nav__link.active-language
                        span.nav__link__text EN
                li.nav__item.nav__item--lang
                    a(href='#').nav__link
                        span.nav__link__text DE
                li.nav__item.nav__item--lang
                    a(href='#').nav__link
                        span.nav__link__text ZH

        .header-nav.header_nav_icons
            ul.nav
                li.nav__item
                    a(href='/').nav__link
                        span.nav__link__icon.icon-heart
                        span.nav__link__text Wishlist
                li.nav__item
                    a(href='#').nav__link
                        span.nav__link__icon.icon-person
                        span.nav__link__text Account
                li.nav__item
                    a(href='#').nav__link
                        span.nav__link__icon.icon-cart
                            span.products-count 999
                        span.nav__link__text Cart

        .mobile-menu#mmenu
            ul#panel-menu.mobile-nav
                li
                    span Company
                    ul
                        li
                            a(href='#') Home
                        li
                            a(href='#') Products
                        li
                            a(href='#') About
                        li
                            a(href='#') Contact us
                li
                    span Categories
                    ul
                        li
                            a(href='#') Muscatel Distilled Gin
                        li
                            a(href='#') Dragon's cut
                        li
                            a(href='#') Sloe Gin
                        li
                            a(href='#') Harald Schatz Wodka
                li.languages-links
                    a(href='#') ENGLISH
                li
                    a(href='#') GERMAN
                li
                    a(href='#') CHINESE


    .header-categories
        ul.categories-list
            li.categories-list__item
                a(href='/').categories-list__link MUSCATEL DISTILLED GIN
            li.categories-list__item
                a(href='#').categories-list__link DRAGON'S CUT
            li.categories-list__item
                a(href='#').categories-list__link SLOE GIN
            li.categories-list__item
                a(href='#').categories-list__link HARALD SCHATZ WODKA
